.App {
  text-align: center;

}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  list-style: none;
}
li{
  margin: 0 3px 0 3px;
  border: 1px solid;
  background-color: skyblue;
  min-width: 20px;
}
.active{
  background-color: green;
}
.user__action__block{
  display: flex;
  justify-content: center;
}